/* Formatação da barra de login */
.barra-login{
  background-color: #000;
  padding: 10px 0;
  color: #fff;
}

/* Container utilizado para definir a largura */
.container-largura{
  display: flex;
  justify-content: center;
}

.barra-login__acesso{
  color: #fff;
  font-weight: bold;
}

.barra-login__desc{
  margin: 0 10px;
}

/* breakpoint 768px */
@media (min-width: 768px){
  
.container-largura{
  width: 95%;
  margin: 0 auto;
  justify-content: flex-end;
}

}