/* Formatação do cabecalho da página */
.container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 3% auto;
}

.cabecalho__logo img{
  max-width: 100%;
  width: 200px;
}

/* Formatação do formulário de pesquisa */
.formulario-pesquisa__search{
  font-size: 2em;
  color: #d50a27;
}
.formulario-pesquisa__input,
.formulario-pesquisa__button{
  display: none;
}

/* Breakpoint 768px */
@media(min-width: 768px){  

.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}

.formulario-pesquisa{
  display: flex;
}

.formulario-pesquisa__input{
 padding: 12px 5px;
 width: 300px;
}

.formulario-pesquisa__button{
  width: 100px;
  text-transform: uppercase;
  color: #fff;
  background-color: #d50a27;
  border: 1px solid #d50a27;
  font-weight: 600;
}

.formulario-pesquisa__input,
.formulario-pesquisa__button{
  display: block;
}

.formulario-pesquisa__search{
  display: none;
}
}


