/* Formatação do conteúdo principal */
.conteudo-principal{
	display: flex;
	flex-direction: column;
	width: 95%;
	margin: 0 auto;
}

/* Breakpoint 768px */
@media (min-width: 768px ){
.conteudo-principal{
  flex-direction: row;
}

}