
/* Formatação do conteúdo da página */
.conteudo{
	width: 100%;
	margin: 10% 0;
}

.conteudo__titulo{
	color: #d50a27;
	font-size: 2em;
}

/* Formatação do icon */
.icon{
	display: none;
}

/* Formatação da class ordenar */
.ordenar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 5% 0;
}

.ordenar__titulo{
	color: #707070;	
	font-weight: bold;
	font-size: 0.85em;
}

.ordenar__pesquisa{
	width: 200px;
	padding: 5px;
}

@media(min-width: 768px){

/* Formatação do conteúdo */
.conteudo{
	margin: 45px 0;
}

/* Formatação cabecalho-pesquisa */
.cabecalho-pesquisa{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px 0;
	border: 1px  solid #ccc;
	border-right: none;
	border-left: none;
}

/* Formatação do icon */
.icon{
	display: block;
}

.icon__categoria{
	font-size: 1.5em;
	color: #707070;
}

.icon__categoria:nth-child(1){
	color: #648d89;
}

/* Formatação da class ordenar */
.ordenar{
	margin: 0;
	padding: 10px 0;
	justify-content: flex-end;
}

.ordenar__titulo{
	margin-right: 10px;
}

}