/* Formatação do filtro */
.filtro{
	width: 100%;
	border: 1px solid #ccc;
	box-sizing: border-box;
	padding: 20px 15px;
}

.filtro__titulo{
	color: #d50a27;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5em;
}

/* Formatação da categoria | Cores | Tipo */
.categoria__titulo,
.cores__titulo,
.tipo__titulo{
	color: #648d89;
	font-size: 1.2em;
	text-transform: uppercase;
	margin: 20px 0;
}

.categoria__lista,
.tipo__lista{
	padding-left: 15px;
}

.categoria li,
.tipo__item{
	color: #707070;	
	margin-bottom: 15px;
	list-style-type: disc;
}

.categoria li a{
	color: #707070;	
	text-decoration: none;
}

/* Formatação da class cores */
.cores__lista{
	display: flex;
	padding-left: 0;
}
.cores__item{
	list-style-type: none;
	margin-right: 30px;
}

/* Breakpoint 768px */
@media (min-width: 768px){

.filtro{
	width: 35%;
	margin: 30px 15px 0 0;
}

}

/* Breakpoint 1024px */
@media (min-width: 1024px){
.filtro{
	width: 25%;
}

}