/* Formatação do menu */
@media(min-width: 320px ) and (max-width: 767px){

.menu{
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0,0.9);
  top: 0px;
  left: 0px;
  border-radius: 0 0 10px 10px;
  border-bottom: 1px solid #423940;
  z-index: 10; 
  order: -1;
}

.menu__lista a{
	color: #fff;
	font-weight: bold;
  text-decoration: none;
	text-transform: capitalize;
	transition: color 0.5s;
	padding: 3.5% 3%;
}

.menu li{
	padding: 30px 20px;
	border-bottom: 1px solid #423940;
	transition: 0.5s;
}

.menu__item:last-child{
	border-bottom: 0;
}

.btn-open, .btn{ font-size: 2em;}
.btn-close{
  color: #fff;
  float: right;
  font-size: 2em;
  padding: 3% 5%;
}
}


/* Breakpoint 768px */
@media (min-width: 768px){

.container-largura-menu{
  width: 95%;
  margin: 0 auto;
}

.menu{
  background-color: #d50a27;
  order: 1;
  padding: 20px 0;
}

.menu__lista{
  display: flex;
}

.menu__lista a{
  color: #fff;
  text-decoration: none;
  margin-right: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-open, .btn-close{
  display: none;
}
}