/* Formatação da class página */
.pagina{
  width: 95%;
	margin: 30px auto;
}

.pagina__link{
  color: #d50a27;
  font-weight: bold;
}

@media (min-width: 768px){

.pagina{
  margin: 30px auto 0 auto;;
}  
}