/* Formatação dos produtos */
.produtos{
  width: 95%;
  margin: 0 auto;
}

.produtos__lista{
  display: flex;
  justify-content: space-between;
  align-items: center;
	flex-wrap: wrap;
	height: 100px;
}

.produtos__item{
  text-align: center;
  width: 45%;
  padding: 15px 0;
  box-sizing: border-box;
} 

.produtos__image{
  border: 1px solid #ccc;
  padding: 10px 0;
}

.produtos__image img{
  width: 100%;
  max-width: 100px;
  height: 100px;
}

.produtos__preco{
  color: #d50a27;
  font-weight: bold;
}

.produtos__titulo{
  font-size: 0.65em;
  text-transform: uppercase;
  color: #707070;
  margin: 10px 0;
}

.produtos__button{
  display: none;
}

/* Breakpoint 768px */
@media (min-width: 768px){

.produtos__item{
  width: 30%;
  margin-right: 25px;
}

.produtos__button{
  display: inline;
  margin-top: 10px;
  width: 150px;
  padding: 10px 0;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #80BDB8;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

}

/* Breakpoint 1024 */
@media (min-width: 1024px){
 
.produtos__lista{
  justify-content: flex-start;
}  
.produtos__item{
  width: 22%;
  height: auto;
}

.produtos__image img{
  width: 100%;
  max-width: 100px;
  height: 100px;
}

}