/* Formatação do rodape */
.rodape{
  width: 95%;
  height: 200px;
  margin: 0 auto 5% auto;
  background-color: #d50a27;
  margin-top: 900px;
}

/* Formatação de breakpoint */
@media (min-width: 768px){
.rodape{
  width: 95%;
  margin: 700px auto 0 auto;
}
}

/* Breakpoint 1024px */
@media (min-width: 1024px){
.rodape{
  margin: 500px auto 0 auto;
}

}